---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>To be filled in with more details about the London Engineering blog.</p>
		<p>The blog has been built with Astro and features a few useful features:</p>
		<ul class="list-inside list-disc">
			<li>Fully responsive</li>
			<li>Light and dark modes</li>
			<li>Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Tagging and searching(experimental)</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
	</div>
</PageLayout>
