---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate } from "@/utils";

const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<p class="mb-4">
			Welcome to the Tipalti London Engineering Blog. Here, we'll be sharing our ideas, progress,
			and occasional reflections.
		</p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
